/* For use in src/lib/core/theming/_palette.scss */
$theme-light-blue: (
  50: #e4ecf4,
  100: #bccee4,
  200: #8faed3,
  300: #8faed3,
  400: #4175b3,
  500: #1f5da6,
  600: #1b559e,
  700: #174b95,
  800: #12418b,
  900: #0a307b,
  A100: #abc3ff,
  A200: #789eff,
  A400: #457aff,
  A700: #2b68ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$theme-accent: (
  50: #fef3e4,
  100: #fce2ba,
  200: #facf8d,
  300: #f8bc5f,
  400: #f7ad3c,
  500: #f59f1a,
  600: #f49717,
  700: #f28d13,
  800: #f0830f,
  900: #ee7208,
  A100: #ffffff,
  A200: #ffefe3,
  A400: #ffd1b0,
  A700: #ffc296,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
