@import "GIS-Meterial-colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
$theme-material-primary: mat.define-palette($theme-light-blue);
$theme-material-accent: mat.define-palette($theme-accent, A700, A100, A400);
$theme-material-warn: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$theme-material-theme: mat.define-light-theme(
  $theme-material-primary,
  $theme-material-accent,
  $theme-material-warn
);

$primary300: mat.define-palette($theme-material-primary, 300);
$primary500: mat.define-palette($theme-material-primary, 500);
$primary800: mat.define-palette($theme-material-primary, 800);

$accent300: mat.define-palette($theme-material-accent, 300);
$accent800: mat.define-palette($theme-material-accent, 800);


$theme-material-typography: mat.define-typography-config(
  $font-family: "'Open Sans', sans-serif;",
);
$theme-material-theme: mat.define-light-theme(
  (
    color: (
      primary: $theme-material-primary,
      accent: $theme-material-accent,
      warn: $theme-material-warn,
    ),
    typography: $theme-material-typography,
    density: 0,
  )
);

@include mat.core-theme($theme-material-theme);
@include mat.all-component-themes($theme-material-theme);
@include mat.typography-hierarchy($theme-material-typography);
